<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Input Mask </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <label for="phoneNumber">Phone Number</label>
  <input
    name="phoneNumber"
    type="text"
    [mask]="masks.phoneNumber"
    [placeholder]="masks.phoneNumber"
  />

  <label for="creditCard">Credit Card</label>
  <input
    name="creditCard"
    type="text"
    [mask]="masks.creditCard"
    placeholder="1234 5555 5555 6789"
  />
</ion-content>
